@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  .login-container {
    display: flex; /* Allow horizontal alignment */
    justify-content: flex-end; /* Align items to the right end */
  }
  
  .login-button {
    margin-left: 10px; /* Optional spacing between buttons */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid #ddd; /* Optional border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Indicate clickable behavior */
  }
  